#name{
    font-size: 600%;
}
p{
    margin: 0px;
}
#hello{
    font-size: 250%;
}
#tobe{
    font-size: 150%;
}
#presen{
    position: absolute;
    top: 70px;
    width: 3000px;
    height: 100px; 
    margin: 10%;
}
#navg{
    font-size: 20px;
    margin-left: 10%;
}
#Ask{
    margin: 50px;
    font-size: 40px;
    border: 0px;
    background-color: tomato;
}
#line{
    border-left: 5px;
    height: 100px;
    margin: 0 auto;
    width: 2px;
}
body{
    background-image: url(image/5fed96e2b9517b38f447c4df5a44af6d.jpg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-position-y: 0%;
    background-size: 700px 700px;
}